body {
    max-width: 1024px;
    margin: 0 auto;
}

#input-form .d-flex {
    gap: .5rem;
}

#input-form .input-col {
    flex: 1;
}

#input-form button {
    display: block;
}

textarea {
    resize: none;
}

#preview {
    font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
    body, .form-control, .form-control:disabled, .form-control[readonly] {
        background-color: #1a1b1b;
        color: #fff;
    }
    .form-control:focus {
        background-color: #333333;
    }
}