body {
    max-width: 1024px;
    margin: 0 auto;
}
header .logo {
    margin-right: 1rem;
    display: flex;
    align-items: center;

}
header .logo img {
    width: 100%;
    height: 3.5rem;
}
header .text p {
    margin: 0;
}
main {
    padding-top: 2rem;
}

input, textarea {
    font-family: 'Courier New', Courier, monospace;
}

button#icon-state, button#icon-clear-history {
    margin-left: 1rem;
    font-size: 1.2rem;
}

#input-form .d-flex {
    gap: .5rem;
}

#input-form .input-col {
    flex: 1;
}

#input-form button {
    display: block;
}

textarea {
    resize: none;
}

#preview {
    font-size: 2rem;
}

#history-list {
    overflow-x: auto;
    display: flex;
}
#history-list .history-item {
    padding: .5rem;
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
}
#history-list .history-item+ .history-item {
    margin-left: 1rem;
}
.italic {
    font-style: italic;
}
.nostyle {
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
}
a.nostyle {
    color: #000;
}

/* ANIMATIONS */
.zoom-in {
    animation: zoom-in .5s;
}
@keyframes zoom-in {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}
.zoom-out {
    animation: zoom-out .5s;
}
@keyframes zoom-out {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(.8);
    }
}

@media (prefers-color-scheme: dark) {
    body, .form-control, .form-control:disabled, .form-control[readonly] {
        background-color: #1a1b1b;
        color: #fff;
    }
    .form-control:focus {
        background-color: #333333;
        color: #fff;
    }
    button, a.nostyle {
        color: #fff;
    }
}